src/Investimentos.Api/bin
src/Investimentos.Api/obj/
src/Investimentos.Api/obj/project.assets.json
src/Investimentos.Application/bin
src/Investimentos.Application/obj
src/Investimentos.IoC/bin
src/Investimentos.IoC/obj
.vscode
src/Investimentos.Api/obj/Investimentos.Api.csproj.nuget.g.props
